body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vhq;
    background: #f3f3f3;
}

.container {
    background: black;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    width: 290px;
}

#display {
    width: 97%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 28px;
    padding: 5px;
    border: none;
    background: #f9f9f9;
    border-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    border: 3px solid transparent;
    border-radius: 15px;
    background: #e0e0e0;
    cursor: pointer;
}
button:hover{
    background-color: black;
}


#num {
    background: gray;
    color: white;
}
#num:hover{
    background-color: black;
    color: gray;
    border-color: gray;
    font-weight: bold;
}


#op {
    background: #8DA3DD;
}
#op:hover{
    background-color: black;
    color: #8DA3DD;
    border-color: #8DA3DD;
    font-weight: bold;
}


#clear {
    background: #ca3c4a;
}
#clear:hover {
    background-color: black;
    color: #ca3c4a;
    border-color: #ca3c4a;
    font-weight: bold;
}


.equal {
    grid-row: span 2;
    background: #009E60;
}
.equal:hover {
    background-color: black;
    color: #009E60;
    border-color:  #009E60;
    font-weight: bold;
}